* {
  margin: 0 auto;
}

html {
  font-family: Avenir Next, Helvetica Neue, sans-serif;
  /* background: white; */
  overflow: auto;
  font-size: 18px;
	padding: 1rem;
  line-height: 1.5;
  text-align: justify;
}

body {
  align-items: center;
  max-width: 65rem;
}

a, a:visited {
	color: black;
	text-decoration: none;
}

@media screen and (min-width: 1238px) {
  html {
      margin-left: calc(100vw - 100%);
      margin-right: 0;
  }
}


@media (max-width: 960px) and (orientation: portrait) {
  html {
      /* background-color: purple; */
  }
}